{#
/**
 * @file
 * Levchik module cat item twig template.
 *
 * Available variables:
 * - cat: Cat object.
 * - cat.picture_src: URL od cat's picture.
 * - cat.created: Timestamp when cat was created.
 * - cat.name: Name of the cat.
 * - cat.email: email of cat's owner.
 * - cat.id: id of cat's database instance.
 * - cat.cats_button: buttons with actions for cat entity.
 */
#}
{% if cats is not empty %}
  <ul class="cats-containter">
  {% for cat in cats %}
    <li class="cats-item">
      <a href="{{ cat.picture_src }}" target="_blank" class="img-container">
        <img src="{{ cat.picture_src }}" alt="A Cat">
      </a>
      <div class="cat-data">
        <span class="created-date">{{ "Cat was added"|t }}: {{ cat.created|date("j/m/Y H:i:s") }}</span>
        <span>{{ "Cat's name"|t }}: {{ cat.name }}</span>
        <span>{{ "Cat's owner email"|t }}: {{ cat.email }}</span>
        {% if user.hasPermission('administer levchik cats') %}
          {{ cat.cats_button }}
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ul>
{% endif %}
